@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #252627;
    --white: #FFF9FB;
    --red: #BB0A21;
    --blue: #4B88A2;
    --green: #35FF69;
    --purple: #907AD6;
    --violet: #6369D1;
}

html {
    font-size: 61.5%;
}

body, button {
    color: var(--white);
    font-size: 2.4rem;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    padding: 2rem;
    background: transparent;
    border-radius: 15px;
}

body {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
}

header {
    height: 15rem;
    padding:  2vh 10vw;
    background: var(--violet);
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

header > h1 {
    font-size: 6rem;
    font-weight: bolder;
}

header > button:hover {
    background-color: var(--black);
}
.library {
    display: grid;
    gap: 16px;
    padding: 2rem 10vw;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.book {
    display: flex;
    flex-direction: column;
    background: var(--purple);
    gap: 16px;
    padding: 2rem;
    min-height: 15rem;
    border-radius: 15px;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.book > button:hover {
    background-color: var(--red);
}

.modal {
    display: none;
    position: fixed;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.form { 
    margin: 15% auto;
    width: 20%;
    gap: 16px;
    padding: 4rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: var(--purple);
   
}
.modal input {
    padding: 1rem;
    border-radius:10px ;
}

.modal input[data-state='invalid']{
    background: var(--red);
}

footer {
    position: fixed;
    padding: 1rem;
    bottom: 0;
}